/.git
/.gradle
/.settings
/asm
/bin
/build
/config
/crash-reports
/dumps
/eclipse
/journeymap
/libs
/logs
/mods
/mod-config
/quantumAnomalies
/resourcepacks
/saves
/screenshots
/.classpath
/.project
/copy
/git
/world
/armourersWorkshop
/equipmen-database
options.txt
eula.txt
server.properties
usercache.json
usernamecache.json
whitelist.json
ops.json
banned-ips.json
banned-players.json
ReCubed.dat
servers.dat
config.cfg
minetweaker.log
